#scroller{
    width: 1020px;
    height: 180px;
}

#element{
    height: 30px;
}

.reject{
    background-color: red;
    margin-right: 12px;
    color: white;
}

.accept{
    background-color: green;
    color: white;
}
